<!DOCTYPE html>
<html>
  <head>
    <title>Yollow</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBVvhFFMW7QiuEqm8xiAL30HlHGuU4Rbo0&libraries=places" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <script src="https://kit.fontawesome.com/e48ca9f679.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
