
<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script type="text/javascript">
  window.blueDot = '<%= image_url('bluedot.png') %>'
  window.logo = '<%= image_url('real-estate-logo.png') %>'
  window.saved = '<%= image_url('saved.png') %>'
  window.unsaved = '<%= image_url('unsaved.png') %>'
</script>
<main id="root"></main>